network:
  ethernets:
    ens38:
      {% if dns_role == "master" %}
      addresses: [{{ master_ip }}/24]
      {% else %}
      addresses: [{{ slave_ip }}/24]
      {% endif %}
      dhcp4: false
  version: 2